<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div id="firstDiv"></div>
  <div id="secondDiv"></div>
  <div id="thirdDiv">
    <h3>create bug form</h3>
    <p>problem</p>
    <input type="text" id='problem'>
    <p>error text</p>
    <input type="text" id='error'>
  </div>
  <div id="radioDiv"></div>
  <div id='bugListDiv'>
    <h3>all bug list</h3>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/script.js"></script>
</body>

</html>